apiVersion: v1
kind: Secret
metadata:
  name: account-service-secret
  namespace: fintech
type: Opaque
stringData:
  SHARD0_URL: "r2dbc:postgresql://<user>:<password>@account-postgres-shard0:5432/accountdb"
  SHARD1_URL: "r2dbc:postgresql://<user>:<password>@account-postgres-shard1:5432/accountdb"
