apiVersion: v1
kind: Secret
metadata:
  name: auth-service-secret
  namespace: fintech
type: Opaque
stringData:
  DATABASE_URL: "postgres://<user>:<password>@auth-postgres:5432/authdb"
  JWT_SECRET: "<your-jwt-secret>"
